#boardListBtn {
    font-size: 15px;
    background-color: #4A4A4A;
    color: white;
    border-radius: 5%;
    border-width: 0;
    padding: 0.5%;
    margin-left: 70%;
    margin-bottom: 1%;
}

#boardListBtn:hover {
    color: rgb(150, 150, 150);
}

#boardListTable {
    width: 50%;
    border-top: 1px solid #4A4A4A;
    border-collapse: collapse;
}

#boardListTh1 {
    width: 15%;
}

#boardListTd1 {
    text-align: center;
}

#boardListTable th, #boardListTable td {
    border-bottom: 1px solid #4A4A4A;
    padding: 1%;
}

#boardListTable a {
    text-decoration: none;
    outline: none;
    color: black;
}

#boardListTable a:hover {
    color: #4A4A4A;
    font-weight: bold;
}